html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.ebr-show {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ebr-show li {
  margin-bottom: 2rem;
}

.ebr-show li img {
  width: 100%;
  height: auto;
}

.email-tag {
  font-weight: 500;
  color:  #082e5e !important;
}

.text-success {
  color:  #3d9005 !important;
}

.text-primary {
  color:  #082e5e !important;
}

.btn-primary {
  background-color:  #082e5e !important;
  border-color: #082e5e !important;
}

.container {
  max-width: 960px;
}

.welcome-header {
  max-width: 700px;
}

.brand {
      display: block;
    width: auto;
    height: 50px;
}

.brand img {
  width: auto;
  height: 100%;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
    border-top: 3px solid #3d9005 !important;
}
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }